* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
}

.main-content {
    width: 70%;
    height: fit-content;
    background-color: #000;
    border: 2px solid #F0F;
    border-radius: 12px;
    margin: 40px auto 40px auto;
}