* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(./banner_image.jpg);
    background-position: 50% 0%;
    background-size:auto;
    background-repeat: no-repeat;
}

.main-content {
    line-height: 2em;
    width: 70%;
    height: fit-content;
    background-color: #000;
    border: 2px solid #F0F;
    border-radius: 12px;
    margin: 40px auto 40px auto;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    box-shadow: 4px 4px 7px #000;
    padding: 0 0 10px 0;
}

.main-content > h1 {
    color: #FFF;
    margin: 20px 0 15px 0;
    border-bottom: 1px dashed #F0F;
    padding: 0 0 20px 0;
}
.main-content > h2 {
    color: #AAA;
    margin: 5px 0 10px 0;
    font-size: 20px;
}


.multi-container {
    width: max-content;
    border: 1px dashed #F0F;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 20px auto;
    line-height: 1em;
}

.multi-element {
    display: inline-block;
    background-color: #F0F;
    padding: 3px;
    border: 3px solid #000;
    border-radius: 7px;
    color: #000;
}

.multi-element > h3 {
    font-size: 12px;
    width: 100%;
}

.multi-element:hover {
    background-color: #000;
    border: 3px solid #F0F;
    border-radius: 7px;
    color: #FFF;
}

.flag-element { 
    display: inline-block;
    width: 80px;
    height: 50px;
    margin: 0;
    border: 2px solid #000;
    border-radius: 5px;
}


.main-content > a {
    color: #F0F;
    text-decoration: underline;
}